beautifulsoup4==4.8.0
Flask==2.2.5
Flask-Cors==3.0.9
Flask-GoogleMaps==0.2.6
Flask-SQLAlchemy==2.4.0
Flask-Testing==0.7.1
Flask-WTF==0.14.2
geojson==2.5.0
googlemaps==3.1.1
gunicorn==19.9.0
heroku==0.1.4
Jinja2==2.11.3
pep8==1.7.1
pymediawiki==0.6.1
pyparsing==2.4.2
pytest==5.1.2
pytest-watch==4.2.0
requests==2.31.0
Unidecode==1.1.1
urllib3==1.26.17
watchdog==0.9.0
wikipedia==1.4.0
Wikipedia-API==0.5.2
