<!-- Author : Nicolas Flandrois -->
<!-- Date : Thu 15 Aug 2019 18:51:34 CEST -->
<!-- HTML User Interface page, including CSS style in Bootstrap features -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Nicolas Flandrois">

    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1 shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Papy Bot !</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">



</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark text-white">

        <img src="{{ url_for('static', filename='grandpy-round.png') }}" width="75" height="auto" class="navbar-brand mr-0 mr-md-2  mx-righ" viewbox="0 0 612 612" role="img" focusable="false">

        <h1 class="mx-auto text-align-center display-2 mr-15" style="font-family: 'Pacifico', cursive;">Papy Bot</h1>

        <div class="group-append dropdown">
            <button class="btn btn-outline-light dropdown-toggle mx-left" type="button" data-toggle="dropdown" data-display="static">Info

                <div class="dropdown-menu dropdown-menu-right m-3">

                    <div class="dropdown-item dropdown-header" title="A Propos" data-target="#aboutcontent">A propos de PapyBot</div>
                        <div id="aboutcontent" class="text-wrap m-3 text-justify" style="width: auto;">
                            <p>Papy Bot est un projet effectué dans le cadre de la formation OpenClassrooms Développeur d'applications Python.</p>
                            <p>Le but du projet est de créer un bot qui prend en entrée une phrase envoyée par l'utilisateur et qui requête
                                Google Maps et Wikipedia pour obtenir des informations sur le lieu et l'histoire du sujet évoqué.
                            </p>
                        </div>
                    <div role="separator" class="dropdown-divider"></div>

                </div>
            </button>
        </div>

    </header>


    <!-- Dialog Box -->
    <div id="dialogDisplay" class="container d-flex">
        <!-- Text Dialog Box -->
        <!-- Size fitting = ~ 50% of the page margin/padding included for All screen size but sm and xs which fits 100% -->
        <div id="dialogbox" class="m-0 m-md-2  mx-auto">Text Dialog Here</div>
        <!-- https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp -->

        <!-- Map Display Box -->
        <!-- Size fitting = ~ 50% of the page margin/padding included for All screen size but sm and xs which fits 100% -->
        <div id="mapbox" class="m-0 m-md-2  mx-auto">Map Here</div>
    </div>


    <!-- Form to input question -->
    <!-- Align center those input forms -->
    <form id="shoutform" class="form-horizontal" autocomplete="off">
        <fieldset class="w-100 d-flex align-content-center">
            <div class="col col-2">
                <input id="user_post" name="user_post" required="required"
                         class="form-control " placeholder="Entrez votre message" type="text">
            </div>
            <div class="col col-3">
                <input type="submit" id="go" class="form-control" value="Envoyer">
            </div>
        </fieldset>
    </form>

    <!-- Embeded API Gmap from search Query -->
    <iframe
      width="450"
      height="250"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBwaRMmEGzrBhnnOjDoeXQOBr_iCRt26hw&q=London"

      allowfullscreen>
    </iframe>

    <div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>


    <footer class="footer fixed-bottom flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="d-flex footer_block">
            <div class="footer_icon m-3 mx-auto">
                <a href="https://github.com/NicolasFlandrois" title="Github" target="_blank"><img src="{{ url_for('static', filename='github.png')}}" width="50" height="50" class="icon_ft" alt="Github" /></a>
            </div>
            <div class="footer_icon m-3 mx-auto">
                <a href="https://www.linkedin.com/in/nicolasflandrois" title="Linkedin" target="_blank"><img src="{{ url_for('static', filename='lin.png')}}" width="50" height="50" class="icon_ft" alt="Linkedin" /></a>
            </div>
            <div class="footer_icon m-3 mx-auto">
                <a href="https://openclassrooms.com/" title="Openclassrooms" target="_blank"><img src="{{ url_for('static', filename='openclassrooms.png')}}" width="50" height="50" class="icon_ft" alt="Openclassrooms" /></a>
            </div>
        </div>
        <div class="container text-center m-3 mx-auto">
            <small>Nicolas Flandrois &copy; 2019 &middot; MIT License.</small>
        </div>
    </footer>

    <!-- Bootstrap CND Jquery, Popper, JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
