<!-- Author : Nicolas Flandrois -->
<!-- Date : Wed 02 Oct 2019 16:51:11 CEST -->
<!-- HTML User Interface page, including CSS style in Bootstrap features -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Nicolas Flandrois">

    <!-- Importing Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1 shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Papy Bot !</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Loading Jquery -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
      <!-- Uncompressed JQuery Core 3.4.1 CDN Stable Version -->



</head>

<body>
    <header class="navbar fixed-top navbar-expand navbar-dark flex-column flex-md-row p-4 h-20 bd-navbar bg-dark text-white">

        <img src="{{ url_for('static', filename='grandpy-round.png') }}" width="75" height="auto" class="navbar-brand mr-0 mr-md-2  mx-righ" viewbox="0 0 612 612" role="img" focusable="false">

        <h3 class="mx-auto text-align-center display-4 mr-15" style="font-family: 'Pacifico', cursive;">Papy Bot</h3>

        <div class="group-append dropdown">
            <button class="btn btn-outline-light dropdown-toggle mx-left" type="button" data-toggle="dropdown" data-display="static">Info

                <div class="dropdown-menu dropdown-menu-right m-3">

                    <div class="dropdown-item dropdown-header" title="A Propos" data-target="#aboutcontent">A propos de PapyBot</div>
                        <div id="aboutcontent" class="text-wrap m-3 text-justify" style="width: auto;">
                            <p>Papy Bot est un projet effectué dans le cadre de la formation OpenClassrooms Développeur d'applications Python.</p>
                            <p>Le but du projet est de créer un bot qui prend en entrée une phrase envoyée par l'utilisateur et qui requête
                                Google Maps et Wikipedia pour obtenir des informations sur le lieu et l'histoire du sujet évoqué.
                            </p>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </header>


    <main class="bd-content ml-4 mr-4" role="main">
        <div id="dialogBox" class="container p-5 col" style="margin-top: 200px; margin-bottom: auto;">
            <!-- Text Dialog Box -->
            <!-- Papy's Greetings, Randomly generated -->
            <p class='col-7 d-flex justify-content-center p-3 float-left rounded-right border-right border-bottom border-secondary shadow-sm bg-primary align-middle text-left text-white mr-auto'> {{ greetings }} </p>
            <!-- Further discussion exchange will be displaid Here -->
        </div>

        <!-- Do no remove - Ensure dialogue not hidden by footers -->
        <p class="col d-flex invisible" style="margin-bottom: 200px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
        <!-- Do no remove - Ensure dialogue not hidden by footers -->
    </main>




    <footer class="footer fixed-bottom flex-shrink-0 p-1 bg-dark text-white-50" style="width: 100%; height: auto;">

        <!-- Form to input question -->
        <div class="container-fluid d-flex justify-content-center p-2 mr-3" >
                <input id="userRequest" name="userRequest" type="text" class="form-control mb-2 mr-sm-2" placeholder="Entrez votre message" required="required">
                <button id="submit" name="submit" type="submit" class="btn btn-primary mb-2">Envoyer</button>
        </div>

        <!-- Footers -->
        <div class="d-flex footer_block">
            <div class="footer_icon m-3 mx-auto">
                <a href="https://github.com/NicolasFlandrois" title="Github" target="_blank"><img src="{{ url_for('static', filename='github.png')}}" width="50" height="50" class="icon_ft" alt="Github" /></a>
            </div>
            <div class="footer_icon m-3 mx-auto">
                <a href="https://www.linkedin.com/in/nicolasflandrois" title="Linkedin" target="_blank"><img src="{{ url_for('static', filename='lin.png')}}" width="50" height="50" class="icon_ft" alt="Linkedin" /></a>
            </div>
            <div class="footer_icon m-3 mx-auto">
                <a href="https://openclassrooms.com/" title="Openclassrooms" target="_blank"><img src="{{ url_for('static', filename='openclassrooms.png')}}" width="50" height="50" class="icon_ft" alt="Openclassrooms" /></a>
            </div>
        </div>
        <div class="container text-center m-3 mx-auto">
            <small>Nicolas Flandrois &copy; 2019 &middot; MIT License.</small>
        </div>
    </footer>

    <!-- JS File link -->
    <script type="text/javascript" src="static/index.js"></script>
    <!-- JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
